# dingTalk webhook access token
dingTalkWebhookAccessToken = 'xxx'

# the region size need to monitor
# [x, y, w, h]
MonitorRegion = {'x': 270, 'y': 185, 'w': 220, 'h': 120}

# diff threshold
MonitorDiffThreshold = 300

# TinyFace model path
TinyFaceModelPath = './checkpoint_50.pth'
# cpu or cuda
TinyFaceModelDevice = 'cpu'

# Sina SCS access key, secret key and bucket name
SinaSCSAccessKey = 'xx'
SinaSCSSecretKey = 'xx'
SinaSCSBucketName = 'xx'
SinaSCSBucketUrl = 'http://abc.com/%s'

# push title
PushTitle = '[进入预警]'

PersonNames = {0: 'xx', 1: 'xx', 2: 'xxx', 3: 'xxxx', 4: 'asd', 5: 'asd', 6: '2sda', 7: 'xa', 8: 'sad'}

# Logger config json text
LoggerJsonConfig = '''{
    "version":1,
    "disable_existing_loggers":false,
    "formatters":{
        "simple":{
            "format":"[%(asctime)s][%(funcName)-15s:%(lineno)-4s] - %(name)-15s - %(levelname)-5s : %(message)s"
        }
    },
    "handlers":{
        "console":{
            "class":"logging.StreamHandler",
            "level":"DEBUG",
            "formatter":"simple",
            "stream":"ext://sys.stdout"
        },
        "info_file_handler":{
            "class":"logging.handlers.RotatingFileHandler",
            "level":"INFO",
            "formatter":"simple",
            "filename":"info.log",
            "maxBytes":10485760,
            "backupCount":20,
            "encoding":"utf8"
        },
        "error_file_handler":{
            "class":"logging.handlers.RotatingFileHandler",
            "level":"ERROR",
            "formatter":"simple",
            "filename":"errors.log",
            "maxBytes":10485760,
            "backupCount":20,
            "encoding":"utf8"
        }
    },
    "loggers":{
        "my_module":{
            "level":"ERROR",
            "handlers":["info_file_handler"],
            "propagate":"no"
        }
    },
    "root":{
        "level":"INFO",
        "handlers":["console","info_file_handler","error_file_handler"]
    }
}'''
